<div class="animated fadeIn">
    <div style="text-align:center;">
        <form>
        <div ng-if="!loginSuccess"><span class="active-text">{{loginErrorMsg}}</span></div>
        <div>Username</div>
        <input type="text"
               class="form-input"
               ng-model="loginObj.username"/>
        <br>
        <br>

        <div>Password</div>
        <input class="form-input"
               type="password"
               ng-model="loginObj.password"/><br><br>

        <div class="button" style="position: relative;" ng-click="login()">
            <span ng-if="!isAuthenticating">Login</span><span
                us-spinner spinner-key="spinner-1"></span>
        </div>
    </form>
    </div>

    <div class="center">
        <span><a href="/#!registration"
                 style="text-align: center;">Register</a></span>
    </div>
</div>
    