<div class="animated fadeIn">
    <div style="text-align:center;">
        <div ng-if="!loginSuccess"><span class="active-text">{{loginErrorMsg}}</span></div>
        <div>Username</div>
        <input type="text"
               style=" background-color: transparent;border: 0;border-bottom: 1px solid white;width: 50%;"
               ng-model="loginObj.username"/>
        <br>
        <br>

        <div>Password</div>
        <input style=" background-color: transparent;border: 0;border-bottom: 1px solid white;width: 50%;"
               type="password"
               ng-model="loginObj.password"/><br><br>

        <div class="button" style="position: relative;" ng-click="login()">
            <span ng-if="!isAuthenticating">Login</span><span
                us-spinner spinner-key="spinner-1"></span>
        </div>

    </div>

    <div style="text-align: center; margin-top:5%;">
        <span><a href="/#!registration"
                 style="text-align: center;">Register</a></span>
    </div>
</div>
    