<div class="animated fadeIn">
    <div class="filter">
        <div class="row">Filter by
            <span style="margin-left:35%;cursor: pointer;" ng-class="{'active-text': selectedFilter === 'request'}" ng-click="changeSelection('request')">Request</span>
            <span style="margin-left:20px;cursor: pointer;" ng-class="{'active-text': selectedFilter === 'document'}" ng-click="changeSelection('document')">Document</span>
        </div>
    </div>

    <div class="search">
        <input placeholder="Search" class="search-input"/>
    </div>
</div>
