<div class="animated fadeIn">
    <div class="filter">
        <div class="row">My Documents
            <span style="float:right;margin-right:5%;cursor: pointer;"
                  ng-class="{'active-text': selectedFilter === 'document'}"
                  ng-click="changeSelection('document')">Types</span>
        </div>
    </div> <br>

    <div class="search">
        <input placeholder="Search" class="search-input"/>
    </div>
    <br>

    <div class="items" id="doclist">
        <div class="item-list" ng-repeat="document in data.documents track by $index" ng-click="open=!open">
            <span style="margin-left:5%;">{{document.document.name}}</span>
            <span style="margin-left:17%;"> <a target="_blank"
                    ng-href="https://webapisecuredbb.azurewebsites.net/document/{{document.document.id}}/content">
                View</a></span>
            <span style="float:right; margin-right: 5%">{{document.document.docType}}</span>

            <br>
            <div ng-init="!open" ng-if="open">

                    <div class="items">
                        <div class="item-list" ng-repeat="req in document.document.requestors" style="border:0px;">
                            <span style="margin-left:5%;"> {{req.reqName}}</span> <span style="margin-left:20%;"> {{req.date}}</span>
                            <span style="margin-left:20%;"> {{req.status}}</span>
                        </div>
                    </div>

            </div>
        </div>

    </div>
