<div class="animated fadeIn" ng-if="!loggedOut">

    <div class="profile-picture">
        <img src="profile.png"/>
    </div>

    <br><br>

    <div class="requests">

        <div class="items">
            <div class="item-list" style="border-bottom:none;">
                <div>NAME
                    <span class="account-option">{{name}}</span>
                </div>
            </div>

            <div class="item-list" style="border:0px;">
                <div>DOB
                    <span class="account-option">{{dob}}</span>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="requests">
        <span>
            <img src="settings.png" class="setting-icon"/>
        </span>

        <div class="items">
            <div class="item-list" style="border:0px;">
                <div>BLOCK ALL REQUESTS
                    <span class="account-option">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </span>
                </div>
            </div>

            <div class="item-list" style="border:0px;">
                <div>CHANGE PASSWORD
                    <span class="account-option">
              CHANGE
            </span>
                </div>
            </div>

            <div class="item-list" style="border:0px;">
                <div>CHANGE ACCOUNT
                    <span class="account-option" ng-click="logOut()">LOGOUT</span>
                </div>
            </div>

            <div class="item-list" style="border:0px;">
                <div>DELETE ACCOUNT
                    <span class="account-option">CONFIRM</span>
                </div>
            </div>
        </div>

    </div>


</div>


<div class="animated fadeIn" ng-if="loggedOut">
    You have successfully logged out!
</div>