<div class="animated fadeIn" ng-if="!loggedOut">

<div class="profile-picture">
  <img src="profile.png" />
</div>

<br><br>

  <div class="requests">
      <div class="request-header active-text"> PERSONAL </div>

      <div class="items">
          <div class="item-list">
            <div>NAME
            <span style="float:right;margin-right:2%;">{{name}}</span>
            </div>
          </div>

          <div class="item-list">
            <div>DOB
            <span style="float:right;margin-right:2%;">{{dob}}</span>
            </div>
          </div>
      </div>
  </div>
<br><br>
  <div class="requests">
      <div class="request-header active-text"> SETTINGS </div>

      <div class="items">
          <div class="item-list">
            <div>BLOCK ALL REQUESTS
            <span style="float:right;margin-right:2%;">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </span>
            </div>
          </div>

          <div class="item-list">
            <div>CHANGE PASSWORD
            <span style="float:right;margin-right:2%;">
              <!-- <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label> -->
              CHANGE
            </span>
            </div>
          </div>

          <div class="item-list">
            <div>CHANGE ACCOUNT
            <span style="float:right;margin-right:2%;font-weight:bold;" ng-click="logOut()">LOGOUT</span>
            </div>
          </div>

          <div class="item-list">
            <div>DELETE ACCOUNT
            <span style="float:right;margin-right:2%;color:red;font-weight:bold;">CONFIRM</span>
            </div>
          </div>
      </div>

  </div>


</div>


<div class="animated fadeIn" ng-if="loggedOut">
You have successfully logged out!
</div>