body {
    font-family: 'Quicksand', sans-serif;
}

.search {
    text-align: center;
    padding-right: 5px;
}

.search .search-input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    width: 331px;
}

.upload-button{
    text-align:center;margin-top:10%;border:0;
}
form .form-input{
    background-color: transparent;border: 0;border-bottom: 1px solid white;width: 50%;
}

.right{
    float:right;margin-right:10px;
}

.u-pull-right{
    height: 8%; width: 8%; margin-right: 10%;
}
.content {
    background: linear-gradient(-20deg, #734b6d 0%, #42275a 70%);
    height: 100vh;
    color: white;
    margin-top: 10%;
    padding-top: 15%;
    padding-left: 2%;
}

.registration-form-input{
    background-color: transparent !important;border: 0;border-bottom: 1px solid white;width: 50%;
}

.setting-icon{
    height: 30px;width:30px;
}

.center{
    text-align: center; margin-top:5%;
}

.account-option{
    float:right;margin-right:2%;font-weight:bold;
}

.active-text {
    color: #e1b12c;
}

.active-text .alert{
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.home-button {
    background: url('icons.png') no-repeat -4px -37px;
    margin-left: 28%;
    width: 31px;
    height: 30px;
}

.add-button {
    background: url('icons.png') no-repeat -40px -38px;
    margin-left: 28%;
    width: 30px;
    height: 29px;
}

.report-button {
    background: url('icons.png') no-repeat -73px -38px;
    margin-left: 28%;
    width: 28px;
    height: 29px;
}

.access-button {
    background: url('icons.png') no-repeat -105px -44px;
    margin-left: 28%;
    width: 37px;
    height: 18px;
}

.profile-picture {
    text-align: center;
    width: 100px;
    height: 100px;
    border: #e1b12c solid 1px;
    margin-left: 36%;
}

.profile-button {
    background: url('icons.png') no-repeat -146px -37px;
    margin-left: 28%;
    width: 33px;
    height: 31px;
}

.checked-icon {
    background: url('checked.svg') no-repeat -4px -37px;
    width: 15px;
    height: 15px;
}

.settings-icon {
    background: url('settings.png') no-repeat -4px -37px;
    width: 1px;
    height: 1px;
}

.item-list {
    padding-top: 5px;
    padding-bottom: 5px;
    border:0px;
}

.request-header {
    text-decoration: underline;
    width: 100%;
}

.greeting {
    font-size: 1.3em;
}

.footer-item {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 20%;
    text-align: center;
}

.footer-item-active {
    background-color: #e1b12c;
}

.section-active {
    background-color: #e1b12c;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #6C7A89;
    background-color: #ECECEC;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index:1001
}

.appname {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 1.2em;
    background-color: #ECECEC;
    border-bottom: 1px solid #6C7A89;
}

.category-name {
    background-color: #ECECEC;
    border-bottom: 1px solid #6C7A89;
    padding-left: 2%;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: -2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e1b12c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e1b12c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#doclist {
    padding-bottom: 20px;
    padding-top: 20px;
}

.input-field {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid white;
    width: 50%;
}