<div ng-controller="footerController" class="footer" >
    <div class="row">
        <div class="two columns footer-item" ng-class="{'footer-item-active':activeMenu.indexOf('homepage') != -1}" style="width: 20%;text-align:center;">
          <a href="/#!homepage"><div class="home-button" style="margin-left: 28%;"></div></a>
        </div>
        <div class="two columns footer-item"  ng-class="{'footer-item-active':activeMenu.indexOf('add')  != -1}" style="width: 20%;text-align:center;">
            <a href="/#!add"><div class="add-button" style="margin-left: 28%;padding-top: 1%;"></div></a>
        </div>
        <div class="four columns footer-item"  ng-class="{'footer-item-active':activeMenu.indexOf('report')  != -1}" style="width: 20%;text-align:center;">
            <a href="/#!report"><div class="report-button" style="margin-left: 28%;"></div></a>
        </div>
        <div class="two columns footer-item"  ng-class="{'footer-item-active':activeMenu.indexOf('access')  != -1}" style="width: 20%;text-align:center;">
            <a href="/#!access"><div class="access-button" style="margin-left: 28%;padding-bottom:6%;margin-top:10%;"></div></a>
        </div>
        <div class="two columns footer-item"  ng-class="{'footer-item-active':activeMenu.indexOf('profile')  != -1}" style="width: 20%;text-align:center;">
            <a href="/#!profile"><div class="profile-button" style="margin-left: 28%;"></div></a>
        </div>
    </div>
</div>
