<div class="animated fadeIn">
  <div  ngf-select="addFiles($files, $invalidFiles)" ngf-multiple="true" class="button" style="margin-left:32%;text-align:center;margin-top:10%;border:0" >
    <img src="add-icon.png"/>
  </div>

  <div style="text-align:center">
    CLICK ON THE BUTTON ABOVE TO UPLOAD DOCUMENTS
  </div>

  <div ng-repeat="file in files track by $index">
    <div class="active-text">{{file.metaData.name}}</div>
            <div class="items">
            <div class="item-list">
                Document Type  <img ng-if="success[$index]" class="u-pull-right" src="checked.svg" style="height: 8%; width: 8%; margin-right: 10%;"/>
                <div ng-disbaled="!success[$index]">
                    <select ng-model="selectedDocType[$index]" style="background-color: transparent;width:97%; color:black; border: 0;" ng-options="x for x in docTypes"></select>
                </div>

            </div>
            </div>
  </div>
<br><br>
  <div ng-if="files.length>0">
    <button class="btn primary" style="float:right;margin-right:10px;" ng-click="uploadFiles()">Upload</button>
  </div>
</div>