<div class="animated fadeIn">
    <div ngf-select="addFiles($files, $errorFiles)" ngf-multiple="true" class="upload-button">
        <img src="add-icon.png"/>
    </div>

    <div style="text-align:center">
        CLICK ON THE BUTTON ABOVE TO UPLOAD DOCUMENTS
    </div>

    <div ng-repeat="file in files track by $index">
        <div class="active-text">{{file.metaData.name}}</div>
        <div class="items">
            <div class="item-list">
                Document Type <img ng-if="success[$index]" class="u-pull-right" src="checked.svg"/>
                <div ng-disbaled="!success[$index]">
                    <select ng-model="selectedDocType[$index]"
                            style="background-color: transparent;width:97%; color:black; border: 0;"
                            ng-options="x for x in docTypes"></select>
                </div>

            </div>
        </div>
    </div>
    <br><br>
    <div ng-if="files.length>0">
        <button class="btn primary right" ng-click="uploadFiles()">Upload</button>
    </div>
</div>